@import "~antd/dist/antd.css";
#body {
  background-color: #ffcc00;
  padding: 20px;
  font-family: sans-serif;
  margin: 0;
  line-height: 1.5;
}
#body ul.header li {
  display: inline;
  list-style-type: none;
  margin: 0;
}
#body ul.header {
  background-color: #111;
  padding: 0;
}
#body ul.header li a {
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  padding: 10px;
  display: inline-block;
}
#body .active {
  background-color: #0099ff;
}
#body .content {
  background-color: #fff;
  padding: 20px;
}
#body .content h2 {
  padding: 0;
  margin: 0;
}
#body .content li {
  margin-bottom: 10px;
}
#body .codeBlock {
  font-weight: bold;
  color: #ffa600;
  background-color: #000;
  padding: 2px 4px;
}
#body .action {
  font-weight: bold;
  color: rgb(246, 250, 31);
  background-color: #333;
  padding: 2px 4px;
}
#body .actionTarget {
  font-weight: bold;
  color: #ffa600;
  background-color: #333;
  padding: 2px 4px;
}
#body .quoteBlock {
  color: #222;
  background-color: #eee;
  padding: 2px 8px;
  border-radius: 15px;
}
#body img {
  width: calc( 100% - 50px);
  margin: 25px;
}
#body .demoBox {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "componentContainer resetFocusZone"
    "focusedElementPreviewWrapper focusedElementPreviewWrapper";
  justify-items: center;
  align-items: center;
}
#body .componentContainer {
  grid-area: componentContainer;
}
#body .resetFocusZone {
  grid-area: resetFocusZone;
}
#body .focusedElementPreviewWrapper {
  width: 100%;
  min-height: 100px;
  grid-area: focusedElementPreviewWrapper;
  background-color: #eee;
  padding: 8px;
  margin: 8px;
  border-radius: 15px;
}
#body .focusedElementWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
#body .contentWrapper {
  background-color: white;
  color: #000;
  font-family: sans-serif;
  line-height: 1.5;
}
#body .conclusionGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: min-content min-content 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "conclusionHeader conclusionHeader conclusionHeader"
    ". . . "
    ". . . ";
  justify-items: center;
  align-items: center;
}
#body .conclusionHeader {
  grid-area: conclusionHeader;
}
#body .extraConclusionInfo ul li {
  line-height: 1.7;
  margin: 5px 0;
  border-bottom: 1px solid #ddd;
}
#body h2,
#body h3 {
  font-weight: bold;
  margin-bottom: 20px;
}
#body .UsageTotals {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-auto-flow: row;
  grid-template-areas: "focus-visible no-focus-visible";
  gap: 0 30px;
}

#body .focus-visible {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 20px 5px;
  grid-auto-flow: row;
  grid-template-areas:
    "title-focus-visible title-focus-visible title-focus-visible"
    "fluent spectrum material"
    "focusVisibleTotal focusVisibleTotal focusVisibleTotal";
  grid-area: focus-visible;
  border-right: 5px solid;
  margin: 15px 0;
}

#body .title-focus-visible {
  grid-area: title-focus-visible;
}
#body .fluent {
  grid-area: fluent;
}

#body .spectrum {
  grid-area: spectrum;
}

#body .material {
  grid-area: material;
}

#body .focusVisibleTotal {
  grid-area: focusVisibleTotal;
}

#body .no-focus-visible {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 20px 5px;
  grid-auto-flow: row;
  grid-template-areas:
    "title-no-focus-visible title-no-focus-visible title-no-focus-visible"
    "antd chakra-ui react-bootstrap"
    "noFocusVisibleTotal noFocusVisibleTotal noFocusVisibleTotal";
  grid-area: no-focus-visible;
}
#body .title-no-focus-visible {
  grid-area: title-no-focus-visible;
}

#body .antd {
  grid-area: antd;
}

#body .chakra-ui {
  grid-area: chakra-ui;
}

#body .react-bootstrap {
  grid-area: react-bootstrap;
}

#body .noFocusVisibleTotal {
  grid-area: noFocusVisibleTotal;
}
